<form style="display: flex; flex-direction: column; margin: 20px;"
      [formGroup]="contactInfoGroup">
  <mat-form-field appearance="fill">
    <mat-label>FirstName</mat-label>
    <input formControlName="firstName"
           matInput
           placeholder="FirstName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input  formControlName="lastName"
            matInput
            placeholder="Last Name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input formControlName="phoneNumber"
           matInput
           placeholder="Phone Number">
  </mat-form-field>
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Fill form field</mat-label>-->
<!--    <input matInput placeholder="Placeholder">-->
<!--  </mat-form-field>-->

  <button mat-stroked-button (click)="onAdd()">Add</button>
</form>
