.head-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;

  .add-button {
    padding: 30px;
    border-radius: 30px;
  }
}

.empty-state {
  position: absolute;
  top: 50%;
  left: calc(50% - 85px);
  text-align: center;
  color: #757575;
  margin-top: 20px;
  font-size: 1.2em;
}
