<div class="head-content">
  <app-search [searchControl]="search"></app-search>

  <button class="add-button"
          mat-raised-button
          color="primary"
          (click)="openAddDialog()">
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>

<!--@let contacts = contacts$ | async cool feature but doesn't work for some reason (-->
@if ((contacts$ | async); as contacts) {
  @if (contacts.length) {
    <app-list-table [contacts]="contacts"></app-list-table>
  } @else {
    <div class="empty-state">
      <p>{{search.value ? 'Sorry, nothing found (' : 'No contacts added yet.' }}</p>
    </div>
  }
}
