<mat-card class="d-flex flex-column gap-10">

  <div class="d-flex ai-center gap-10">
    <button mat-icon-button
            (click)="navigateBack()">
      <mat-icon>west</mat-icon>
    </button>

    @if (contactInfoGroup.value; as contact) {
      <div class="d-flex ai-center gap-10 flex-1">
        <app-avatar [color]="assignColorBasedOnId(contact?.id || 0)"
                    [label]="contact?.firstName?.charAt(0) || ''">
        </app-avatar>

        <h1>{{ contact.firstName }} {{ contact.lastName }}</h1>
      </div>
    }

    <button mat-raised-button
            [disabled]="contactInfoGroup.invalid || contactInfoGroup.pristine"
            color="primary"
            (click)="onSave()">
      Save
    </button>
  </div>

  <form class="content d-flex flex-column gap-5"
        [formGroup]="contactInfoGroup">
    <mat-form-field appearance="outline">
      <mat-label>FirstName</mat-label>
      <input formControlName="firstName"
             matInput
             placeholder="FirstName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName"
             matInput
             placeholder="Last Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input formControlName="phoneNumber"
             matInput
             #phoneInput
             (keydown)="disallowNonNumericInput($event)"
             (keyup)="formatToPhone(phoneInput)"
             placeholder="Phone Number">
      <mat-icon matPrefix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email"
             matInput
             placeholder="Email">
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input formControlName="address"
             matInput
             placeholder="Address">
      <mat-icon matPrefix>home</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Birthday</mat-label>
      <input formControlName="birthDate"
             matInput
             [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconPrefix
                             [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker startView="multi-year" #picker></mat-datepicker>
    </mat-form-field>

  </form>

</mat-card>
