<table mat-table
       [dataSource]="contacts">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element">
      <div class="name-container">
        <app-avatar [color]="assignColorBasedOnId(element?.id || 0)"
                    [label]="element?.firstName?.charAt(0) || ''"
                    size="small">
        </app-avatar>
        <span>{{ element.firstName }} {{ element.lastName }}
      </span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef> Phone Number</th>
    <td mat-cell *matCellDef="let element">
      <a (click)="$event.stopPropagation()"
         [href]="'tel:' + element.phoneNumber">
        {{ element.phoneNumber }}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell
        *matHeaderCellDef>
      <span class="d-flex jc-center">Actions</span>
    </th>
    <td mat-cell
        *matCellDef="let element">
      <div class="d-flex jc-center">
        <button (click)="$event.stopPropagation(); onEdit(element)"
                mat-icon-button
                color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="$event.stopPropagation(); onDelete(element)"
                mat-icon-button
                color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      class="table-row"
      *matRowDef="let row; columns: displayedColumns;"
      (click)="onContactSelect(row)">
  </tr>

</table>
