<mat-card class="contact">

  <div style="display: flex; justify-content: space-between">
    <button mat-icon-button
            (click)="navigateBack()">
      <mat-icon>west</mat-icon>
    </button>
    <div style="display: flex; align-items: center">
      <button mat-raised-button
              color="primary"
              (click)="onEdit()">
        Edit
      </button>
      <button
        mat-icon-button
        color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div style="display: flex; flex-direction: row; align-items: center">
    <div class="avatar"
         [style.background-color]="assignColorBasedOnId(contact?.id || 0)">
      {{ contact?.firstName?.charAt(0) }}
    </div>
    <h1>{{ contact?.firstName }} {{ contact?.lastName }}</h1>
  </div>

  <div class="contact-info">
    <a [href]="'tel:' + contact?.phoneNumber">
      <mat-icon>phone</mat-icon>
      {{ contact?.phoneNumber }}
    </a>
    <p>
      <mat-icon>email</mat-icon>
      {{ contact?.email }}
    </p>
    <p>
      <mat-icon>home</mat-icon>
      {{ contact?.address }}
    </p>
    <p>
      <mat-icon>date_range</mat-icon>
      {{ contact?.birthDate | date: 'mediumDate' }}
    </p>
  </div>

</mat-card>
