<mat-card class="d-flex flex-column gap-10">

  <div class="d-flex jc-between">
    <button mat-icon-button
            (click)="navigateBack()">
      <mat-icon>west</mat-icon>
    </button>
    <div class="d-flex ai-center">
      <button mat-raised-button
              color="primary"
              (click)="onEdit()">
        Edit
      </button>
      <button mat-icon-button
              color="warn"
              (click)="onDelete(contact)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="d-flex ai-center">
    <app-avatar [color]="assignColorBasedOnId(contact?.id || 0)"
                [label]="contact?.firstName?.charAt(0) || ''"
                size="large">
    </app-avatar>
    <h1>{{ contact?.firstName }} {{ contact?.lastName }}</h1>
  </div>

  <div class="content d-flex flex-column gap-10">
    <a [href]="'tel:' + contact?.phoneNumber">
      <mat-icon>phone</mat-icon>
      {{ contact?.phoneNumber }}
    </a>
    <p>
      <mat-icon>email</mat-icon>
      @if (contact?.email; ) {
        {{ contact?.email }}
      } @else {
        <a routerLink="edit">Add email</a>
      }
    </p>
    <p>
      <mat-icon>home</mat-icon>
      @if (contact?.address; ) {
        {{ contact?.address }}
      } @else {
        <a routerLink="edit">Add address</a>
      }
    </p>
    <p>
      <mat-icon>date_range</mat-icon>
      @if (contact?.birthDate; ) {
        {{ contact?.birthDate | date: 'mediumDate' }}
      } @else {
        <a routerLink="edit">Add birthday</a>
      }
    </p>
  </div>

</mat-card>
